# URLs de AppSheet
APPSHEET_SEARCH_URL=https://www.appsheet.com/start/75cb6f07-15d3-40fa-8662-cfd173fb6d5b?platform=desktop#appName=Invoices-795833550&vss=H4sIAAAAAAAAA6WOwQ7CIBBE_2XOfAFX48EYvWi8iAcs24RIoSm02hD-3cXUeFaP8zZvdjImS_dD0s0N8pw_aUszJLLCce5JQSqsgk9DcApCYa-7BTpLPlFUKCgX8faZQObvdPnfdwFrONjW0lC7qskdi8fnalWwOCgC3Zj01dFrMDulMGtDM0YyJ57yw4S48etHr73ZBcOVrXaRyhPSjprbZQEAAA==&view=Clientes
APPSHEET_FORM_URL=https://www.appsheet.com/start/75cb6f07-15d3-40fa-8662-cfd173fb6d5b?platform=desktop#appName=Invoices-795833550&vss=H4sIAAAAAAAAA6WST0_DMAzFv4vPLWqztR058keaEBxg2oEFTV7jShFtM7UpMFX97jhjE2iCw8rRTn7P78Xp4c3Q-5PD_BXkqv-u7mgHEnoFi92WFEgFV7Z2jS0VBAoesDo0S0O1o1bBAEMwlm_Xt7ap1jfauL3QS3AUYmmQ_Xk-5P9iBGA0F6Yw1HgtT7LGgeNjT_nGgeHcUHUONyXtDTMzcGtc9NHeT3TOC_ED_iXNkfoTCeDRWsdHBbe4ukaHDFdbbolIJGEchWK2EJEUsRTZxXQSTbJnf5EK7Eq3xLLze17x3k07r73ovdU8zDUdBeAarFvMnbH1XPsxs0ynaarDZDrBcLrJohCLDc9IKYkQY0rEJQx-CYXNu5b0kp90xDfwVj62WOsvMwWWLQ2fiEF65TIDAAA=&view=Clientes

# Configuración de autenticación
AUTH_FILE=playwright/.auth/user.json